 @font-face {
    font-family: Roboto;
    src: url(font.ttf); 
 }
body{
	font-family: Roboto;
	background-color: rgb(81, 129, 184);
	margin: 0;
	text-align: center;
}
#logo{
	height: calc(88vw/100*15/9*8);
	position: relative;
	top: calc(50vh - 25vw - 88vw/100*15/9*8 - 88vw/100*15);
}
input{
	margin-right: auto;
	margin-left: auto;
	outline: none;
	width: 88vw;
	height: calc(88vw/100*15/9*8);
	background-color: rgb(81, 129, 184);
	border: 1px solid rgb(120, 160 ,200);
	border-bottom-width: 1px;
	border-top: none;
	margin-bottom: calc(88vw/100*15/3);
	padding: 0;
	border-right: none;
	border-left: none;
	color: white;
	text-align: left;
	font-size:  calc(88vw/100*5);
	line-height: calc(88vw/100*15);

}
input:focus{
	border-bottom-width: 3px;
	border-color: white;
}
input::-webkit-input-placeholder{
	color: rgb(160, 190, 217);
}
#panel{
	position: absolute;
	top: calc(50vh - 25vw);
	text-align: center;
    height: 50vw;
}
#button{
	margin-right: auto;
	margin-left: auto;
	margin-top: calc(88vw/100*15/3);
	width: 88vw;
	height: calc(88vw/100*15);
	background-color: rgb(102, 150, 204);
	border: 1px solid;
	border-color: rgb(77, 124, 177);
	border-radius: 3px;
	border-bottom-width: 2px;
	color: white;
	text-align: center;
	font-size:  calc(88vw/100*5);
	line-height: calc(88vw/100*15);
}
#button:active{
	background-color: rgb(89, 135, 189);	
	border-color: rgb(73, 115, 164);
}
#zar{
	font-size: calc(88vw/100*5);
	position: absolute;
	bottom: calc(88vw/100*9);
	width: 100vw;
	color: white;
}
h1{
	font-size: 6vw;
}
#ok{
	text-align: right;
	margin-right: 20px; 
	color: rgb(81, 130, 184);
}
#Error{
	display: none;
	top: calc(50vh - 25vw - 88vw/100*15/9*8 + 88vw/100*15);
	position: absolute;
	padding: 5vw;
	padding-top: 1vw;
	padding-bottom: 1px;
	text-align: left;
	background-color: white;
	left: 5vw;
	width: calc(90vw - 30px);
	font-size: 6vw;
	border-radius: 3px;
}
#dark{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.6);
}
